{
  "openapi": "3.0.3",
  "info": {
    "title": "OpenVoiceProxy",
    "version": "1.0.0",
    "description": "Unofficial ElevenLabs-compatible proxy with extra endpoints for embedded/ESP32 devices."
  },
  "servers": [
    {
      "url": "https://openvoiceproxy-2azge.ondigitalocean.app",
      "description": "Production server"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "tags": [
    { "name": "Health" },
    { "name": "ElevenLabs API" },
    { "name": "ESP32" }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": ["Health"],
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "Service status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/voices": {
      "get": {
        "tags": ["ElevenLabs API"],
        "summary": "List available voices",
        "security": [
          { "BearerAuth": [] },
          { "ApiKeyAuth": [] }
        ],
        "responses": {
          "200": {
            "description": "Voice list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "voices": {
                      "type": "array",
                      "items": { "type": "object" }
                    }
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/v1/text-to-speech/{voiceId}/stream/with-timestamps": {
      "post": {
        "tags": ["ElevenLabs API"],
        "summary": "Text-to-speech with timestamps",
        "security": [
          { "BearerAuth": [] },
          { "ApiKeyAuth": [] }
        ],
        "parameters": [
          {
            "name": "voiceId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": { "type": "string" },
                  "model_id": { "type": "string" },
                  "voice_settings": { "type": "object" }
                },
                "required": ["text"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Audio stream or JSON payload (engine-dependent)" },
          "400": { "description": "Bad request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/v1/user": {
      "get": {
        "tags": ["ElevenLabs API"],
        "summary": "User/subscription info",
        "security": [
          { "BearerAuth": [] },
          { "ApiKeyAuth": [] }
        ],
        "responses": {
          "200": { "description": "User info JSON" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/speak": {
      "post": {
        "tags": ["ESP32"],
        "summary": "Lightweight TTS endpoint for embedded devices",
        "security": [
          { "ApiKeyAuth": [] },
          { "BearerAuth": [] }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "text": { "type": "string" },
                  "voice": { "type": "string", "example": "en-US-JennyNeural" },
                  "engine": { "type": "string", "example": "azure" },
                  "ssml": { "type": "boolean", "default": false },
                  "format": { "type": "string", "enum": ["pcm16", "wav", "mp3"], "default": "pcm16" },
                  "sample_rate": { "type": "integer", "example": 16000 }
                },
                "required": ["text"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Audio bytes (Content-Type depends on format)" },
          "400": { "description": "Bad request" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/voices": {
      "get": {
        "tags": ["ESP32"],
        "summary": "List voices (all engines or one engine)",
        "security": [
          { "ApiKeyAuth": [] },
          { "BearerAuth": [] }
        ],
        "parameters": [
          {
            "name": "engine",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "Voice list JSON" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/api/engines": {
      "get": {
        "tags": ["ESP32"],
        "summary": "List available engines",
        "security": [
          { "ApiKeyAuth": [] },
          { "BearerAuth": [] }
        ],
        "responses": {
          "200": { "description": "Engine list JSON" },
          "401": { "description": "Unauthorized" }
        }
      }
    },
    "/admin/api/keys": {
      "get": {
        "tags": ["Admin"],
        "summary": "List all API keys",
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": { "description": "List of API keys" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Admin access required" }
        }
      },
      "post": {
        "tags": ["Admin"],
        "summary": "Create a new API key",
        "security": [{ "ApiKeyAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "isAdmin": { "type": "boolean", "default": false }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "201": { "description": "API key created" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Admin access required" }
        }
      }
    },
    "/admin/api/keys/{keyId}": {
      "patch": {
        "tags": ["Admin"],
        "summary": "Update an API key",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "keyId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "active": { "type": "boolean" },
                  "isAdmin": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "API key updated" },
          "404": { "description": "API key not found" }
        }
      },
      "delete": {
        "tags": ["Admin"],
        "summary": "Delete an API key",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "keyId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "API key deleted" },
          "404": { "description": "API key not found" }
        }
      }
    },
    "/admin/api/keys/{keyId}/engines": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get engine configuration for an API key",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "keyId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Engine configuration" },
          "404": { "description": "API key not found" }
        }
      },
      "put": {
        "tags": ["Admin"],
        "summary": "Update engine configuration for an API key",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "keyId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "engineConfig": {
                    "type": "object",
                    "additionalProperties": {
                      "type": "object",
                      "properties": {
                        "enabled": { "type": "boolean" },
                        "useCustomCredentials": { "type": "boolean" },
                        "credentials": { "type": "object" }
                      }
                    }
                  },
                  "allowedVoices": { "type": "array", "items": { "type": "string" } }
                },
                "required": ["engineConfig"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Configuration updated" },
          "404": { "description": "API key not found" }
        }
      }
    },
    "/admin/api/engines/status": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get status of all TTS engines",
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "Engine status list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "engines": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "status": { "type": "string", "enum": ["valid", "invalid", "unknown"] },
                          "voiceCount": { "type": "integer" },
                          "hasCredentials": { "type": "boolean" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/settings/credentials": {
      "get": {
        "tags": ["Admin"],
        "summary": "Get system credentials (masked)",
        "description": "Returns stored engine credentials with values masked for security",
        "security": [{ "ApiKeyAuth": [] }],
        "responses": {
          "200": {
            "description": "Masked credentials for all engines",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "credentials": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "additionalProperties": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/settings/credentials/{engineId}": {
      "put": {
        "tags": ["Admin"],
        "summary": "Update credentials for an engine",
        "description": "Save or update credentials for a specific TTS engine. Overrides environment variables.",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "engineId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "credentials": {
                    "type": "object",
                    "additionalProperties": { "type": "string" },
                    "example": { "apiKey": "your-api-key", "region": "eastus" }
                  }
                },
                "required": ["credentials"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Credentials updated successfully" },
          "400": { "description": "Invalid credentials format" }
        }
      }
    },
    "/admin/api/settings/credentials/{engineId}/test": {
      "post": {
        "tags": ["Admin"],
        "summary": "Test credentials for an engine",
        "description": "Validate that the provided credentials work with the TTS engine",
        "security": [{ "ApiKeyAuth": [] }],
        "parameters": [
          { "name": "engineId", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "credentials": {
                    "type": "object",
                    "additionalProperties": { "type": "string" }
                  }
                },
                "required": ["credentials"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Credentials are valid" },
          "400": { "description": "Credentials are invalid" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      },
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
